.fleur-de-leah-regular {
  font-family: "Fleur De Leah", cursive;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-weight: 400;
}

body {
  font-family: "Fleur De Leah", cursive;
  font-style: normal;
  background-image: url(634877.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

a {
text-decoration: none;
}

p {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 20px;
  text-align: center;  
  color: white;
}

div {
  padding: 20px;
}

button {
  font-family: 'Courier New', Courier, monospace;
  font-weight: normal;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  border-radius: 30px;
  border-top: 2px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(255, 255, 255, 0.3) ;
  background-color: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(10px);
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.5);
  
}

button:hover {
  transform: scale(1.1);
}

button:active {
  transform: scale(1);
  /* outline: 5px solid rgb(255, 255, 255); */
  background-color: rgba(255, 255, 255, 0.137);
}

.container {
  height: auto;
  width: auto;
  margin: 100px 100px 0 100px;
}

.question {
  height: auto;
  width: auto;
  margin: 0px 50px 0px 50px;
  text-align: center;
  font-size: 60px;
  border-radius: 30px;
  border-top: 2px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(255, 255, 255, 0.3) ;
  background-color: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(10px);
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.5);

}

.buttons {
  margin-top: 50px;
  display: grid;
  justify-content:space-evenly;
  grid-template-columns: 200px 200px 200px ;
  grid-template-rows: 100px 100px;
}

.comments {
  margin-top: 10px;
}

/* seond page */

.flower {
  height: 600px;
  width: auto;
  background-image: url(634877.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container2 {
  display: flex;
  justify-content: space-evenly;
  margin: 50px;
}

.thanks {
  font-size: 100px;
}
.photo {
  height: 600px;
  width: 500px;
}

/* Button classes for movement */

.buttonNo {
  grid-row: 1;
  grid-column: 3;
}

.buttonNo1 {
  grid-row: 1;
  grid-column: 2;
}  

.buttonNo2 {
  grid-row: 2;
  grid-column: 1;
} 

.buttonNo3 {
  grid-row: 2;
  grid-column: 2;
} 

.buttonNo4 {
  grid-row: 2;
  grid-column: 3;
}